<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <script src="static/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Coloque aqui o arquivo .zip</h1>
    <form method="POST" action="/insert" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
      </form>
      Quantidade de votos {{count}} <br>
      Votos: <br>
      {% for user in users: %}
                {{user.username}} votou ás {{user.created}} <br>
        {% endfor %}
      <button onclick="delete_votes()">Deletar votos</button> <br>
      <button onclick="change_vote_unique()">Votar apenas em uma arte</button> <br>
      <button onclick="change_vote_multiple()">Votar em várias artes</button>

</body>
</html>