<!DOCTYPE html>
<link rel="stylesheet" href="static/css/style.css">
<script src="static/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urna artebonitinha</title>
</head>
<body>
    <div class="artes">
        	{% for image in images: %}
            <div class="option">
                <input class="chk" type="checkbox" name="{{image}}" id=""><img class="img-option" src="static/images/{{image}}" alt="">
            </div>
            {% endfor %}
        
    </div>
    <button onclick="vote()">Votar</button>
</body>
{% if unique_vote == True %}
<script>
$('input.chk').prop('checked', false)
$('input.chk').on('change', function() {
    $('input.chk').not(this).prop('checked', false);  
});
</script>
  {% endif %}
</html>
