<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Site de arte bonitinha">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>site artebonitinha</title>
  
  <!-- Favicon - icon that appears in the browser tab -->
  <link rel="icon" type="image/png" href="static/assets/arte.png">
  
  <!-- CSS and JavaScript files -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="static/js/main.js"></script>
</head>

<body>
  <div class="artes">
    <div class="option">
      {% for key, value in votes.items(): %}
      <img class="img-option" src="static/images/{{key}}" alt="">
      Quem votou nessa: {{value}}
      <br>
      {% endfor %}
    </div>
  </div>

</body>

</html>
