<!DOCTYPE html>
<link rel="stylesheet" href="static/css/style.css">
<script src="static/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urna artebonitinha</title>
</head>

<body>
  <div class="artes">
    <div class="option">
      {% for key, value in votes.items(): %}
      <img class="img-option" src="static/images/{{key}}" alt="">
      Quem votou nessa: {{value}}
      <br>
      {% endfor %}
    </div>
  </div>

</body>

</html>
